body {
margin:0;
font-family:Segoe UI;
background:#050505;
color:white;
}

/* HERO */
.hero {
text-align:center;
padding:120px 20px;
background: radial-gradient(circle at top, #00fff2, #050505);
}

.title {
color:#00fff2;
}

.tagline {
max-width:600px;
margin:auto;
opacity:0.8;
}

.btn {
padding:12px 25px;
margin:10px;
background:#00fff2;
color:black;
text-decoration:none;
border-radius:30px;
}

.outline {
background:transparent;
border:1px solid #00fff2;
color:#00fff2;
}

/* SECTIONS */
section {
padding:80px 20px;
text-align:center;
}

h2 {
color:#00fff2;
margin-bottom:40px;
}

/* FEATURED */
.featured {
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.big-card {
background:#0a0a0a;
padding:30px;
width:300px;
border-radius:15px;
box-shadow:0 0 25px #00fff2;
transition:0.3s;
}

.big-card:hover {
transform:scale(1.05);
}

/* GRID */
.grid {
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.card {
background:#0a0a0a;
padding:20px;
width:220px;
border-radius:12px;
box-shadow:0 0 15px #00fff2;
}

/* SERVICES */
.services {
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.services div {
padding:15px 25px;
border:1px solid #00fff2;
border-radius:20px;
}

/* CONTACT */
.contact-links a {
margin:10px;
display:inline-block;
color:#00fff2;
}

/* FOOTER */
footer {
text-align:center;
padding:20px;
background:#000;
opacity:0.6;
}
